page-login {
    .item-input ion-label {
        color: black;
    }
    .submit-btn {
        background-color: #C62828 !important;
        height: 41px;
    }
    .signup {
        color: #039be5;
    }
}