<ion-header>
    <header-content [header]="header_data"></header-content>
</ion-header>


<ion-content padding>
    <div>
        <ion-segment [(ngModel)]="reservation">
            <ion-segment-button value="history">
                HISTORY
            </ion-segment-button>
            <ion-segment-button value="upcoming">
                UPCOMING
            </ion-segment-button>
        </ion-segment>
    </div>

    <!-- *ngIf="auth.isAuthenticated()" -->
    <div [ngSwitch]="reservation">
        <ion-list *ngSwitchCase="'history'">
            <div class="animated">
                <button *ngIf="!auth.isAuthenticated()" ion-button navPush='LoginPage' class="submit-btn" full>Login to access this section</button>
                <div *ngFor="let item of upData">
                    <div *ngIf="item.status=='requested'">
                        <span> data {{item.status}}</span>
                    </div>
                </div>
            </div>

        </ion-list>

        <ion-list *ngSwitchCase="'upcoming'">
            <div class="animated">
                <button *ngIf="!auth.isAuthenticated()" ion-button navPush='LoginPage' class="submit-btn" full>Login to access this section</button>
                <div *ngFor="let item of upData">
                    <div *ngIf="item.status!='requested'">
                        <span> data {{item.status}}</span>
                    </div>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>