<ion-header>
    <header-content [header]="header_data"></header-content>
</ion-header>


<ion-content>
    <ion-slides pager autoplay="2000" loop="true" speed="1000" effect='slide' class='slider' color="primary" *ngIf="banners.length > 0">
        <ion-slide *ngFor="let item of banners">
            <img src="{{item.banner_image}}" style="width: 100vw !important; ">
        </ion-slide>
    </ion-slides>

    <ion-grid no-padding class="gridback">
        <ion-row no-padding>
            <ion-col col-6 no-padding no-padding navPush='OurMenuPage'>
                <ion-card class="options">
                    <ion-card-content text-center>
                        <!-- <h4>MY</h4> -->
                        <img src="assets/imgs/icon1.png">
                        <h4>OUR MENU</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-card class="options" navPush='ReserveTablePage'>
                    <ion-card-content text-center>
                        <img src="assets/imgs/icon2.png">
                        <h4>RESERVE TABLE</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row no-padding>
            <ion-col col-6 no-padding>
                <ion-card class="options" navPush='TackAwayPage'>
                    <ion-card-content text-center>
                        <img src="assets/imgs/icon4.png">
                        <h4>TAKE AWAY</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-card class="options">
                    <ion-card-content text-center navPush='OurOffersPage'>
                        <img src="assets/imgs/icon5.png">
                        <h4>OUR OFFERS</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col col-6 no-padding>
                <ion-card class="options">
                    <ion-card-content text-center navPush='OurEventsPage'>
                        <img src="assets/imgs/icon6.png">
                        <h4>OUR EVENTS</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-card class="options">
                    <ion-card-content text-center navPush='ContactUsPage'>
                        <img src="assets/imgs/icon3.png">
                        <h4>CONTACT US</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col col-6 no-padding>
                <ion-card class="options" navPush='ReferFriendPage'>
                    <ion-card-content text-center>
                        <img src="assets/imgs/icon7.png">
                        <h4>REFER A FRIEND</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-card class="options" navPush='OurReviewsPage'>
                    <ion-card-content text-center>
                        <img src="assets/imgs/icon8.png">
                        <h4>OUR REVIEWS</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>