.card-md {
    margin: 0px !important;
}

page-home {
    ion-card {
        img {
            width: 32%;
            margin: 0px 0px 0px 51px;
        }
    }
    ion-content {
        background: url('../assets/imgs/map2.png') no-repeat center center fixed;
    }
    .slider {
        height: 36%;
    }
    .swiper-pagination-bullet-active {
        background: color($colors, gray) !important;
        opacity: 1;
    }
    .swiper-pagination-bullet-inactive {
        background: red !important;
    }
    .gridback {
        margin-top: 0px;
        //   background: url('../assets/imgs/map2.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    // .options {
    //     background-color: rgba(193, 28, 28, 0.7);
    //     border: 2px solid white;
    //     height: 100%;
    //     text-align: center;
    //     position: relative;
    //     width: 183px !important;
    //     margin-top: 0px;
    //     left: calc(-180px + 92%) !important;
    // }
    // .grid[no-padding] > .row > .col {
    //   //  padding: 0;
    // //    border: 1.5px solid white;
    // }
}

.platform-android {
    page-home {
        .options {
            background-color: rgba(193, 28, 28, 0.7);
            border: 2px solid white;
            height: 100%;
            text-align: center;
            position: relative;
            width: 183px !important;
            margin-top: 0px;
            left: calc(-180px + 99%) !important;
        }
        .scroll-content {
            margin-bottom: 44px !important;
        }
    }
}

.platform-ios {
    page-home {
        .options {
            background-color: rgba(193, 28, 28, 0.7);
            border: 2px solid white;
            height: 100%;
            text-align: center;
            position: relative;
            width: 183px !important;
            margin-top: 0px;
            left: calc(-180px + 92%) !important;
        }
        .scroll-content {
            margin-bottom: 30px !important;
        }
    }
}