page-locate-us {
    #map {
        margin: 15px 15px 15px 15px;
    }
}

.ios,
.md {
    home-page {
        .scroll {
            height: 100%
        }
        #map {
            width: 100%;
            height: 100%;
        }
    }
}