page-reserve-table {
    p {
        color: black !important;
    }
    form {
        margin: 0px 14px 14px 14px;
    }
    .card-md {
        width: calc(100% - 0px) !important;
    }
    .submit-btn {
        font-size: 18px;
        background-color: #C62828 !important;
    }
    .col {
        font-size: 18px !important;
    }
    .datetime-text {
        color: black !important;
    }
    .label-md-primary,
    .item-input .label-md-primary,
    .item-select .label-md-primary,
    .item-datetime .label-md-primary {
        font-size: 17px;
    }
}